html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
	height: 100%
}

body {
	margin: 0;
	font-size: 14px;
	font-family: Helvetica Neue,Helvetica,STHeiTi,Arial,sans-serif
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
	display: block
}

audio:not([controls]) {
	display: none;
	height: 0
}

progress {
	vertical-align: baseline
}

[hidden],template {
	display: none
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
	text-decoration: none;
	color: #2c3e50;
}

a:active,a:hover {
	outline-width: 0
}